<div>
    <h1>Welcome</h1>
    <ul>
        {{#each model as |taskUnit|}}
        <li  {{action 'toggleDone' taskUnit }} class="{{if taskUnit.isdone 'completed'}}">
              <h3>{{taskUnit.title}} </h3>
            <button class="destroy" {{action "deleteTodo" taskUnit}}>DELETE TASK</button>
        </li>
        {{/each}}
    </ul>

  {{input type="text" id="new-todo" placeholder="What needs to be done?"
    value=task enter="addTask"}}

</div>
