<div>
    <h1>Welcome</h1>



    <ul>
        {{#each model as |taskUnit|}}
        <li  {{action 'toggleDone' taskUnit.id }} class="{{if taskUnit.isdone 'completed'}}">
              <h3>{{taskUnit.title}} </h3>
            <button class="destroy" {{action "deleteTodo" taskUnit.id}}>DELETE TASK</button>
        </li>
        {{/each}}
    </ul>

    {{input type="text" id="new-todo" placeholder="Add task"
    value=task insert-newline='addTask'}}


    {{#link-to "about" class="task-to-about"}}

    {{/link-to}}
</div>
