<div>
    <h1>Welcome</h1>



	<label>Task</label>
	{{input type="text" class="form-control" value=task placeholder="Add Task"}}
    <button {{action 'addTask'}} class="add-button" type="submit">Submit</button>



    {{#each model as |taskUnit|}}

    <li  {{action 'toggleDone' taskUnit.id }} class="{{taskUnit.isdone}}">
        {{input type="checkbox" checked=taskUnit.isdone }}
          <label>{{taskUnit.title}} - {{taskUnit.isdone}}</label>
        </li>





    {{/each}}
{{task-listing task=taskUnit}}

    {{#link-to "about" class="task-to-about"}}

    {{/link-to}}
</div>
